extends ../layout
block head
    link(rel='stylesheet' type='text/css' href='sign.css')
block content

    include ../components/logo

    
    h3.sign-form-label 회원가입
    form#form-signup.flex-col-center
        input(type='email' placeholder='이메일' name='email' required) 
        input(type='password' placeholder='패스워드' name='password' required minlength='8')
        input(type='password' placeholder='패스워드 확인' name='password' required minlength='8')
        input(type='text' placeholder='닉네임' name='name' required minlength='2' maxlength='16')
        button(type='submit') 회원가입

    script.
        const $form = document.querySelector('#form-signup');
        const $inputs = document.querySelectorAll('input')
        const $inputEmail = $inputs[0]
        const $inputPassword = $inputs[1]
        const $inputPasswordConfirm = $inputs[2]
        const $inputName = $inputs[3]

        $form.addEventListener('submit', onSubmit);

        function onSubmit(e) {
            e.preventDefault()
            
            const email = $inputEmail.value
            const password = $inputPassword.value
            const name = $inputName.value.trim()

            if (!validatePw(password)) {
                alert("비밀번호는 알파벳, 숫자, !, @, _, . 만 포함합니다.")
                return
                }
            if (password !== $inputPasswordConfirm.value) {
                alert('패스워드가 일치하지 않습니다.')
                return
            }
            if (!validateName(name)) {
                alert('닉네임은 한글, 알파벳, _ 만 포함합니다.')
                return
            }

            fetch('/api/user/signup', {
                method: 'POST',
                headers: {
                "Content-Type": "application/json",
                },
                body: JSON.stringify({email, password, name})
            })
            .then(res => res.json())
            .then(res => {
                console.log('res: ', res)
                if (res.error) {
                    alert(res.message)
                    return
                    }

                if (res.user) {
                    alert('회원가입이 완료되었습니다. 로그인 해주세요.')
                    history.back()
                }
            })
        }

        function validatePw(pw) {
            for (const letter of pw) {
                if (
                    (letter >= 'a' && letter <= 'z') || (letter >= 'A' && letter <= 'Z') || (letter >= '0' && letter <= '9')
                    || ['!','@','_','.'].includes(letter)
                ) continue
                else return false
            }

            return true
        }

        function validateName(name) {
            for (const letter of name) {
                if (
                    (letter >= 'a' && letter <= 'z') || (letter >= 'A' && letter <= 'Z') || (letter >= '가' && letter <= '힣')
                    || ['_'].includes(letter)
                ) continue
                else return false
            }

            return true
        }